html, body {
      margin: 0;
      background-size: cover;
      transition: background-image 0.5s ease;
    }

.input-group-text {
  background-color: #f8f9fa;
  font-size: 1.2rem;
}

.input-group .btn {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}