html, body {
      height: 100vh;
      margin: 0;
      background-size: cover;
      transition: background-image 0.5s ease;
    }

.card {
    background-color: rgb(94, 93, 93);
}

.buttons {
      position: absolute;
      top: 60px;
      left: 20px;
      display: flex;
      gap: 10px;
    }

.image-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.image-button:hover {
    transform: scale(1.1);
}
