.card {
  min-width: 200px;
  max-width: 100%;
}

.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* nombre de lignes max */
  -webkit-box-orient: vertical;
}

.card-img-top {
  object-fit: cover;
  height: auto;
  max-height: 200px; /* optionnel, selon tes besoins */
}
