{% extends "base.html" %}

{% block content %}
<div class="bg-gray-100 p-8 font-primary">
    <div class="text-4xl sm:text-7xl text-primary-800 font-bold mt-10">WEB DEVELOPMENT</div>
        <div class="text-xl sm:text-2xl mb-10 mt-2">4 years of experience</div>

    <div class="bg-white flex flex-row text-3xl text-primary-500 my-3 rounded-2xl border border-gray-300 shadow-lg">
        <img src="{{ url_for('static', filename='images/web_design.jpg') }}" 
             alt="Big Data" class="rounded-tl-2xl rounded-bl-2xl w-0 md:w-1/4 mr-8 object-cover"/>    
        <div class="flex flex-col">
             <div class="text-2xl sm:text-3xl font-normal leading-relaxed">
                {{ md_html_i18n("docs/intro/web_dev")| safe }}
            </div>
            <a href="{{ url_for('main.experiences_menu') }}">
                <div class="animate-bounce mt-4 text-center text-xl text-primary-700 font-bold">
                    &#8595; {{ t({"fr": "PRO", "en": "BACK"}) }}
                </div>
            </a><br>
        </div>  
    </div>
</div>
{% endblock %}

{% block js %}
<script src="experience_web_design.js"></script>
{% endblock %}