{% extends "base.html" %}

{% block content %}
<h1>WEB DESIGN</h1>
<p>Professional Experiences in Web Design with FLASK.</p>
<!-- Ajoute ici ton contenu spécifique au projet -->
    <div class="bg-primary-300 my-3 mr-1/4-screen py-8 px-12 rounded-2xl">
            {{ md_html_i18n("docs/intro/web_dev")| safe }}
            <a href="{{ url_for('main.experiences_menu') }}">SKILLS MENU</a><br>
    </div>
{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="experience_web_design.css">
{% endblock %}

{% block js %}
<script src="experience_web_design.js"></script>
{% endblock %}