{% extends "base.html" %}

{% block title %}ABOUT{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
{% endblock %}

{% block content %}
<div class="bg-white p-8 min-h-screen">

  {{ hero(
      title=t({"fr": "À propos de ...", "en": "About"}),
      subtitle=t({
        "fr": "« Le meilleur investissement que vous puissiez faire est un investissement en vous-même... Plus vous apprenez, plus vous gagnez. » - Warren Buffet", 
        "en": "“The best investment you can make is an investment in yourself... The more you learn, the more you earn.” - Warren Buffett"})
  ) }}
  
  {{ md_page_i18n("docs/intro/about") | safe }}
  
</div>
{% endblock %}