{% extends "base.html" %}

{% block title %}ABOUT{% endblock %}

{% block content %}
<div class="home">
    <div class="text-wrapper">ABOUT</div>
    <div class="short-presentation pt-5">
        <div class="text-wrapper-2">Learn by games</div>
        <p>Learn by games is a huge path to integrate advanced notions.</p>
        <p>{{ t({"fr": "Bonjour", "en": "Hello"}) }}</p>
        <p>{{ md_meta_i18n("/content/intro", "title", "-") }}</p>
        <p>{{ md_meta_i18n("/content/intro", "summary", "-") }}</p>
        <p>{{ md_html_i18n("/content/intro")|safe }}</p>
    </div>
</div>
{% endblock %}