{% extends "base.html" %}

{% block title %}EXPERIENCES{% endblock %}

{% block content %}
<h1>EXPERIENCES</h1>

    <p>Here are areas of expertise and projects I have worked on.</p>
    <p>{{ t({"fr": "Bonjour", "en": "Hello"}) }}</p>
    <p>{{ md_meta_i18n("docs/intro", "title", "-") }}</p>
    <p>{{ md_meta_i18n("docs/intro", "summary", "-") }}</p>
    <p>{{ md_html_i18n("docs/intro")|safe }}</p>

    <a href="{{ url_for('experiences.bigdata') }}">Big Data Experience</a><br>
    <a href="{{ url_for('experiences.machine_learning') }}">Machine Learning Experience</a><br>
    <a href="{{ url_for('experiences.power_platform') }}">Power Platform Experience</a><br>
    <a href="{{ url_for('experiences.web_design') }}">Web Design Experience</a><br>

{% endblock %}
