{% extends "base.html" %}
{% from "components/typography.html" import hero %}
{% from "components/card_project.html" import project_card %}

{% block title %}LAB{% endblock %}

{% block content %}
<div class="p-8 mb-16 lg:mb-8 min-h-screen">

  {{ hero(
    t({"fr": "LAB", "en": "LAB"}),
    t({
      "fr": "« L’apprentissage est un trésor qui suivra son propriétaire partout. » – Proverbe chinois",
      "en": "“Learning is a treasure that will follow its owner everywhere.” — Chinese proverb"
    })
  ) }}

  <div
    id="cartes-grid"
    class="flex gap-6 overflow-x-auto pb-4 snap-x snap-mandatory"
  >
    {% for c in cartes %}
      {{ project_card(c, g.lang) }}
    {% endfor %}
  </div>
</div>
{% endblock %}