{% extends "base.html" %}

{% block title %}MEMORY GAME{% endblock %}

{% block content %}
<div class="bg-gray-100 p-8 h-screen">

    {% call hero("MEMORY GAME", "A simple game developed with JavaScript") %}
        {{ info_modal(
            id="rgpd",
            title="RGPD",
            text=rgpd_text,
            button_label="Infos"
        ) }}
    {% endcall %}

    
    <p>Find pairs of cards by clicking on them.<br>Good luck!</p>
    <div class="mt-6">
        {{ button("Start Game", variant="first", id="start-button") }}
        {{ button("Reset Game", variant="second", id="reset-button") }}
    </div>
    <div id="game-status"></div>
    <div class="game-container">
        <div id="timer" class="mt-6 text-2xl"></div>
    </div>
    <div id="game-board"
        class="grid grid-cols-6 gap-4 p-4 mt-24 sm:mt-12 lg:mt-4 lg:max-w-1/2-screen justify-center">
    </div>
</div>  
{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="{{ url_for('memory.static', filename='css/projet_memory.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('memory.static', filename='js/projet_memory.js') }}"></script>
{% endblock %}