
{% extends "base.html" %}

{% block content %}
<div class="max-w-4/5 mx-auto">
  
    <div class="grid grid-cols-3 gap-2 sm:gap-6 my-8">
      
      {{ small_card("20+", t({"fr": "Projets ML", "en": "ML Projects"})) }}
      {{ small_card("6+", t({"fr": "Technologies", "en": "Technologies"})) }}
      {{ small_card("10+", t({"fr": "Années d'expérience", "en": "Years of experience"})) }}

    </div>

  {{ content_card(
      image_url=url_for('main.static', filename='images/machine_learning.jpg'),
      image_alt="Machine Learning",
      md_html=md_html_i18n("docs/intro/machine_learning"),
      cta_href=url_for('main.experiences_menu'),
      cta_label=t({"fr": "PRO", "en": "BACK"}),
      cta_bounce=True
  ) }}
</div>
{% endblock %}

{% block js %}
<script src="bg_image.js"></script>
{% endblock %}