
{% extends "base.html" %}
{% from "components/typography.html" import hero %}
{% from "components/exp_content.html" import content_card %}

{% block content %}
<div class="max-w-4/5 mx-auto min-h-screen pb-30">
  
  <div class="grid grid-cols-3 gap-2 sm:gap-6 my-8">
    
    {{ small_card("30+", t({"fr": "Pipelines développés", "en": "Pipelines Developed"})) }}
    {{ small_card("5+", t({"fr": "Technologies Big Data", "en": "Big Data Technologies"})) }}
    {{ small_card("8+", t({"fr": "Années d'expérience Data", "en": "Years of experience in Data"})) }}

  </div>
  
  {{ content_card(
      image_url=url_for('main.static', filename='images/big_data.jpg'),
      image_alt="Big Data",
      md_html=md_html_i18n("docs/intro/big_data"),
      cta_href=url_for('main.experiences_menu'),
      cta_label=t({"fr": "PRO", "en": "BACK"}),
      cta_bounce=True
  ) }}
</div>
{% endblock %}

{% block js %}
<script src="bg_image.js"></script>
{% endblock %}