table { border-collapse: collapse; margin: 20px auto; }

td { width: 15px; height: 15px; border: 1px solid #ccc; }

td.cell {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  cursor: pointer;
}

td.cell.alive {
  background-color: black;
}

td.cell:hover {
  background-color: gray;
}