{% macro hero(title, subtitle=None) %}
  <div class="relative mt-10 pr-24">

    {# Slot top-right optionnel #}
    {% if caller is defined %}
      <div class="absolute top-0 right-0">
        {{ caller() }}
      </div>
    {% endif %}

    <div class="text-3xl sm:text-5xl lg:text-6xl text-primary-800 font-bold font-secondary">
      {{ title }}
    </div>

    {% if subtitle %}
      <div class="text-xl font-primary sm:text-2xl mb-10 mt-2">
        {{ subtitle }}
      </div>
    {% endif %}
  </div>
{% endmacro %}