{% extends "base.html" %}
{% from "components/typography.html" import hero %}
{% from "components/ui.html" import button %}
{% from "components/ui.html" import submit %}

{% block title %}MUSCULATION PROGRAM BUILDER{% endblock %}

{% block content %}
<div class="bg-gray-100 p-8 min-h-screen">

  {% call hero(
    "MUSCULATION PROGRAM BUILDER", 
    t({
        "fr": "Ici, vous pouvez évaluer l'équilibre de votre programme entre force, hypertrophie et endurance.",
        "en": "Here you can evaluate your program's balance between strength, hypertrophy and endurance."
      })) %}
        {{ info_modal(
            id="test",
            title=md_meta_i18n("docs/projects/musculation", "title"),
            text=md_page_i18n("docs/projects/musculation"),
            button_label="Infos"
        ) }}
    {% endcall %}

  <!-- PROGRAM FORM -->
  <form id="programForm" class="mt-6 flex flex-col gap-4">
    {{ workout_form.hidden_tag() }}

    <h2 class="w-full rounded-2xl bg-secondary-300 p-4 text-3xl font-bold">
      {{ t({"fr":"Choisir un programme", "en":"Choose a program"}) }}
    </h2>

    <h2 class="text-2xl font-bold text-gray-900">
      {{ t({"fr":"Créez votre programme d'entraînement :", "en":"Create your training program :"}) }}
    </h2>

    <div class="flex flex-wrap items-end gap-3">
      
      {{ workout_form.plan_name(
      id="plan_name",
      class="w-48 sm:w-64 h-12 text-base rounded-xl border border-gray-300 bg-white px-3 shadow-sm outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200",
      placeholder=t({"fr":"Nom du programme", "en":"Program name"})
      ) }}

      {% for error in workout_form.plan_name.errors %}
      <div class="mt-1 text-sm text-red-600">{{ error }}</div>
      {% endfor %}

      <div>
          {{ button(
          label=t({"fr":"Créer", "en":"Create"}),
          variant="first",
          id="new_program",
          extra_class="h-10 sm:h-12 text-base"
          ) }}
      </div>

    </div>

    <h2 class="text-2xl font-bold text-gray-900 my-4">
      {{ t({"fr":"ou choisissez un programme existant :", "en":"or choose an existing program :"}) }}
    </h2>
    
    <div class="flex flex-wrap items-end gap-3">

      <select id="programSelect"
          class="w-35 sm:w-64 h-12 text-base rounded-xl border border-gray-300 bg-white px-3 shadow-sm outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200">
          <option value="">-- {{ t({"fr":"Choisir", "en":"Choose"}) }} --</option>
      </select>

      <div>
          {{ button(
          label=t({"fr":"Charger", "en":"Load"}),
          variant="second",
          id="load_program",
          extra_class="h-10 sm:h-12 text-base"
          ) }}
      </div>
      <div>
          {{ button(
          label=t({"fr":"Reset", "en":"Reset"}),
          variant="second",
          id="reset_program",
          extra_class="h-10 sm:h-12 text-base"
          ) }}
      </div>

    </div>
    
  </form>

  <!-- EXERCISE CONTAINER -->
  <div id="exerciseContainer" class="mt-8 hidden">
    <h2 class="w-full rounded-2xl bg-secondary-300 p-4 text-3xl font-bold">
      {{ t({"fr":"Ajouter des exercices", "en":"Add exercises"}) }}
    </h2>

    <!-- WRAPPER RESPONSIVE : 1 colonne (mobile) / 2 colonnes (lg) -->
    <div class="mt-4 grid grid-cols-1 gap-6 lg:grid-cols-2 lg:items-start">
      <!-- COLONNE GAUCHE : FORM -->
      <form id="exerciseForm" class="flex flex-col gap-3">
        <div class="flex flex-col">
          <label for="exerciseSelect" class="mb-1 text-sm font-medium text-gray-700">
            {{ t({"fr":"Choisir un exercice", "en":"Select an exercise"}) }}
          </label>

          <select
            id="exerciseSelect"
            class="w-full max-w-xs rounded-xl border border-gray-300 bg-white px-3 py-2 shadow-sm outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200"
          >
            <option value="">-- {{ t({"fr":"Choisir", "en":"Choose"}) }} --</option>
          </select>
        </div>

        <div class="flex flex-col">
          <label for="nb_rep" class="mb-1 text-sm font-medium text-gray-700">
            {{ t({"fr":"Répétitions", "en":"Reps"}) }}
          </label>

          {{ exercise_form.reps(
            class="w-full max-w-xs rounded-xl border border-gray-300 bg-white px-3 py-2 shadow-sm outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200",
            id="nb_rep",
            placeholder=t({"fr":"Nombre de reps", "en":"Number of reps"})
          ) }}

          {% for error in exercise_form.reps.errors %}
            <div class="mt-1 text-sm text-red-600">{{ error }}</div>
          {% endfor %}
        </div>

        <div class="flex flex-col">
          <label for="weight" class="mb-1 text-sm font-medium text-gray-700">
            {{ t({"fr":"Poids", "en":"Weight"}) }}
          </label>

          {{ exercise_form.weight(
            class="w-full max-w-xs rounded-xl border border-gray-300 bg-white px-3 py-2 shadow-sm outline-none focus:border-primary-500 focus:ring-2 focus:ring-primary-200",
            id="weight",
            placeholder=t({"fr":"Poids (kg)", "en":"Weight (kg)"})
          ) }}

          {% for error in exercise_form.weight.errors %}
            <div class="mt-1 text-sm text-red-600">{{ error }}</div>
          {% endfor %}
        </div>

        <div>
          {{ button(
            label=t({"fr":"Ajouter", "en":"Add"}),
            variant="first",
            id="add_exercice_form"
          ) }}
        </div>
      </form>

      <!-- COLONNE DROITE : DETAILS -->
      
      <aside
        id="exerciseDetails"
        class="rounded-2xl bg-white p-4 min-h-1/4-screen shadow lg:sticky lg:top-4"
      >{{ t({"fr":"Détails des exercices", "en":"Exercise details"}) }}</aside>
    </div>
  </div>

  <!-- PROGRAM DETAILS -->
  <div id="programContainer" class="mt-8 hidden">
    <h2 class="bg-secondary-300 p-4 text-3xl font-bold rounded-2xl w-full">
      {{ t({"fr":"Détails du programme", "en":"Program details"}) }}
    </h2>
    <div id="programDetails" class="mt-4 rounded-2xl bg-white p-4 shadow""></div>

    <div class="mt-6 flex gap-4">
        {{ button(
          label=t({"fr":"Sauvegarder", "en":"Save"}),
          variant="first",
          id="save_program"
        ) }}
      
        {{ button(
          label=t({"fr":"Supprimer", "en":"Delete"}),
          variant="second",
          id="reset_program"
        ) }}
      </div>
  </div>

  <!-- ANALYSIS -->
  <div id="analysisContainer" class="mt-8 hidden pb-3">
    <h2 class="w-full rounded-2xl bg-secondary-300 p-4 text-3xl font-bold">
      {{ t({"fr":"Analyse du programme", "en":"Program analysis"}) }}
    </h2>

    <div class="mt-3">
      {{ button(
        label=t({"fr":"Analyser", "en":"Analyze"}),
        variant="first",
        id="analyze_program"
      ) }}
    </div>

    <div id="programAnalysis" class="mt-4"></div>
  </div>

</div>
{% endblock %}

{% block js %}
  <script>
      window.API_EXERCICES_URL = "{{ url_for('musculation.api_exercices') }}";
      window.GIF_BASE_URL = "{{ url_for('musculation.static', filename='data/') }}";
      window.API_PROGRAMMES_BASE = "{{ url_for('musculation.list_programmes') }}";
      // => donnera /projects/musculation/api/programmes
</script>

<script src="{{ url_for('musculation.static', filename='js/projet_musculation.js') }}"></script>
{% endblock %}