{% extends "base.html" %}

{% block title %}{{ projet.titre }}{% endblock %}

{% block content %}
<h1>{{ projet.nom }}</h1>
<p>Détails du projet {{ projet.id }}</p>
<h2>Mon premier Jeu avec Phaser !</h2>
{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/projet_phaser.css') }}">
{% endblock %}

{% block js %}
<!-- Phaser-->
<script src="https://cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
<!-- Plugins pour pad de contrôle-->
<script src="https://cdn.jsdelivr.net/npm/phaser3-rex-plugins/dist/rexvirtualjoystickplugin.min.js"></script>
<!-- Appel du script js spécifique au projet-->
<script src="{{ url_for('static', filename='js/projet_phaser.js') }}"></script>
{% endblock %}