{% extends "base.html" %}

{% block content %}
<h1>{{ projet.titre }}</h1>
<p>{{ projet.description }}</p>

 <div>
    <div id="memory-game" class="container">
        
        <div class="row">
            <div class="col-md-6">
                <div class="game-info">
                    <h2>Instructions</h2>
                    <p>Retrouvez les paires de cartes en cliquant dessus. Bonne chance !</p>
                    <button class="btn btn-primary" id="start-button">Démarrer le jeu</button>
                    <button class="btn btn-primary" id="reset-button">Réinitialiser le jeu</button>
                    <div id="game-status"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="timer"></div>
            </div>
        </div>
        <div class="grid-container" id="game-board">
            <!-- Les cartes seront insérées ici -->
        </div>
    </div>  
</div>

{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/projet_memory.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/projet_memory.js') }}"></script>
{% endblock %}