
{% extends "base.html" %}
{% from "components/typography.html" import hero %}

{% block title %}PHASER GAME{% endblock %}

{% block content %}
<div class="bg-gray-100 p-8 font-primary">
    {{ hero(
        title="PHASER GAME",
        subtitle="A simple game developped with Phaser framework",
    ) }}
</div>
{% endblock %}

{% block css %}
<!-- Si besoin de CSS spécifique -->
<link rel="stylesheet" href="{{ url_for('phaser.static', filename='css/projet_phaser.css') }}">
{% endblock %}

{% block js %}
<!-- Globals -->
<script defer src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/phaser3-rex-plugins/dist/rexvirtualjoystickplugin.min.js"></script>

<script defer src="{{ url_for('phaser.static', filename='js/projet_phaser.js') }}"></script>
{% endblock %}
