
{% extends "base.html" %}
{% from "components/typography.html" import hero %}

{% block title %}PHASER GAME{% endblock %}

{% block content %}
<div class="bg-white p-8 font-primary">
    {% call hero("PHASER GAME", "A simple game developped with Phaser framework") %}
        {{ info_modal(
            id="test",
            title=md_meta_i18n("docs/projects/phaser", "title"),
            text=md_page_i18n("docs/projects/phaser"),
            button_label="Infos"
        ) }}
    {% endcall %}
</div>
<div class="flex items-center justify-center">
  <div id="game-container">
  </div>
</div>
{% endblock %}



{% block js %}
<!-- Globals -->
<script defer src="https://cdn.jsdelivr.net/npm/phaser@3/dist/phaser.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/phaser3-rex-plugins/dist/rexvirtualjoystickplugin.min.js"></script>

<script defer src="{{ url_for('phaser.static', filename='js/projet_phaser.js') }}"></script>
{% endblock %}
